version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7

  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
      exclude:
        - "no.nav.*"
    groups:
      gradle:
        patterns:
          - "*"

  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7